/* fonts */

$primary-font: "OranienbaumRegular", san-serif;
$secondary-font: "NotoSansRegular", san-serif,;

/* colors */

$blue: #17868d;
$gold: #f0d683;
$gold-secondary:#E5C97B;
$gray-light: #3d3d3d;
$gray: #1c1c1c;
$black: #000000;
$black-secondary: #010e10;

$breakpointTablet:1180px;
$breakpointMobile:768px;
$breakpoint1440:1440px;